type project
owners
    rflechner
authors 
    rflechner
projectUrl
    http://github.com/rflechner/fsprod
iconUrl
    https://raw.githubusercontent.com/rflechner/fsprod/master/docs/files/img/logo.png
licenseUrl
    http://github.com/rflechner/fsprod/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    build server
summary
    a small build server based on WebSharper and FAKE
description
    Description not set


